#Import Libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

#Load Data

In [ ]:
iris = load_iris()
print(iris)

In [ ]:
df= pd.DataFrame(iris.data, columns=iris.feature_names)

In [ ]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
x=df
y=pd.Categorical.from_codes(iris.target,iris.target_names)
print(y)

['setosa', 'setosa', 'setosa', 'setosa', 'setosa', ..., 'virginica', 'virginica', 'virginica', 'virginica', 'virginica']
Length: 150
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [ ]:
print(x.shape,y.shape)

(150, 4) (150,)

#Standardization

In [ ]:
scaler=StandardScaler()

scaler.fit(x)
scaled=scaler.transform(x)
x=scaled

#Train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8,stratify=y, random_state=100)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(120, 4) (30, 4) (120,) (30,)

#Model Making

In [ ]:
randFor=RandomForestClassifier()
randFor.fit(x_train,y_train)
prediction = randFor.predict(x_test)
score = accuracy_score(prediction,y_test)
print("Predictions are :",prediction)
print("The Accuracy Score is :", score*100)

Predictions are : ['versicolor' 'versicolor' 'versicolor' 'virginica' 'setosa' 'virginica'
 'versicolor' 'setosa' 'versicolor' 'versicolor' 'versicolor' 'virginica'
 'virginica' 'setosa' 'virginica' 'setosa' 'setosa' 'versicolor' 'setosa'
 'virginica' 'setosa' 'versicolor' 'versicolor' 'setosa' 'versicolor'
 'setosa' 'setosa' 'versicolor' 'virginica' 'versicolor']
The Accuracy Score is : 90.0

#Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix

# Compute the confusion matrix
cm = confusion_matrix(prediction, y_test)

# Display the confusion matrix as a DataFrame
df_cm = pd.DataFrame(cm,index=iris.target_names,columns=iris.target_names,rowname)
print(df_cm)

            setosa  versicolor  virginica
setosa          10           0          0
versicolor       0          10          3
virginica        0           0          7


#Testing Data by input

In [ ]:
user_input = (6.5,3.0,5.2,2.0)

input_numpy = np.asarray(user_input)
input_reshaped = input_numpy.reshape(1,-1)
input=input_reshaped
predict_input=randFor.predict(input)
predict_input[0]

'virginica'